<%- include('header.ejs') %>

<h1>เกี่ยวกับเรา</h1>

<img src="./assets/images/Xiao.jpg" class="gallery" />
<img src="./assets/images/HuTao.jpg" class="gallery" />
<img src="./assets/images/Diluc.jpg" class="gallery" />
<img src="./assets/images/Keqing.jpg" class="gallery" />


<%- include('footer.ejs') %>
