<%- include('header.ejs') %>
<%- include('slide.ejs') %>

<h1>ยินดีตอนรับ</h1>
<button class="btn btn-primary">Hello world</button>
<button class="btn btn-danger">Hello world</button>



<%- include('footer.ejs') %>
