<%- include('header.ejs') %>

    <h1>ข้อมูลส่วนตัว</h1>

    <img src="./assets/images/pic1.jpg" class="gallery" />
    <img src="./assets/images/pic2.jpg" class="gallery" />

    <p class="desc">
        นายชญตว์ บำเรอวงศ์<br/>
        ที่อยู่ 513 ถ.วงศ์สว่าง 19<br/>
        แขวงบางซื่อ เขตบางซื่อ กรุงเทพฯ 10800<br/>
        อีเมล์ nongaegierakron@gmail.com<br/>
        โทร. 094-945-6571
    </p>

<%- include('footer.ejs') %>
